<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Visualized Complexity of Written Language</title>
        <meta name="description" content="A project by David Pardo & Martijn de Heer.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <p>Hello world! Below will be the canvas where we will draw the text.</p>
        <p>Here are some references for us: https://www.papaparse.com/docs#results, http://jsfiddle.net/eECar/16/, https://p5js.org/get-started/</p>
        <div id="container"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
        <script src="scripts/papaparse.min.js"></script>
        <script src="scripts/main.js"></script>
    </body>
</html>